body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgb(32, 32, 107) 0%, rgb(16, 16, 50) 100%);
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.05); 
    color: white;
    padding: 2rem;
    
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    
    border-radius: 20px;
    
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
    width: 300px;
    text-align: center;
}